// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';

// Then import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';

// Import the Sass files as usual
@import 'bootstrap-icons/font/bootstrap-icons';
